# **Econ 441B W23 Lec3**

# **Juntao Li 906092273**

# 1.) Import the Credit Card Fraud Data From CCLE

In [1]:
import pandas as pd
from google.colab import drive
import matplotlib.pyplot as plt
import numpy as np

In [2]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [3]:
df = pd.read_csv("/content/gdrive/MyDrive/Econ 441B 23Winter/fraudTest.csv")

In [4]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

# 2.) Select four columns to use as features (one just be trans_date_trans)

In [5]:
df_select = df[["trans_date_trans_time", "category", "amt", "zip", "is_fraud"]]

In [6]:
df_select.columns

Index(['trans_date_trans_time', 'category', 'amt', 'zip', 'is_fraud'], dtype='object')

In [7]:
df_select

       trans_date_trans_time        category     amt    zip  is_fraud
0        2020-06-21 12:14:25   personal_care    2.86  29209         0
1        2020-06-21 12:14:33   personal_care   29.84  84002         0
2        2020-06-21 12:14:53  health_fitness   41.28  11710         0
3        2020-06-21 12:15:15        misc_pos   60.05  32780         0
4        2020-06-21 12:15:17          travel    3.19  49632         0
...                      ...             ...     ...    ...       ...
555714   2020-12-31 23:59:07  health_fitness   43.77  63453         0
555715   2020-12-31 23:59:09       kids_pets  111.84  77566         0
555716   2020-12-31 23:59:15       kids_pets   86.88  99323         0
555717   2020-12-31 23:59:24          travel    7.99  83643         0
555718   2020-12-31 23:59:34   entertainment   38.13  73034         0

[555719 rows x 5 columns]

# 3.) Create a your own variable out of trans_date. Create dummies for factor vars

In [8]:
type(df_select["trans_date_trans_time"][0])

str

In [9]:
df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])

<ipython-input-9-99f721e4ce0f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])

In [10]:
df_select["time_var"] = [i.hour for i in df_select["trans_date_trans_time"]]

<ipython-input-10-f84357779188>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["time_var"] = [i.hour for i in df_select["trans_date_trans_time"]]

In [11]:
x = pd.get_dummies(df_select, ["category"]).drop(["trans_date_trans_time", "is_fraud"], axis = 1)
y = df["is_fraud"]

In [12]:
x.head()

,amt,zip,time_var,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,29209,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,29.84,84002,12,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,41.28,11710,12,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,60.05,32780,12,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,3.19,49632,12,0,0,0,0,0,0,0,0,0,0,0,0,0,1

# 4.) Split the Data.

In [13]:
cut=int((len(x)*0.8)//1)

In [14]:
x_train=x[:cut]
x_test=x[cut:]

y_train=y[:cut]
y_test=y[cut:]

# 5.) Train a Logistic regression.

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
log_reg = LogisticRegression()

In [17]:
log_reg.fit(x_train, y_train)

LogisticRegression()

# 6.) The company you are working for wants to target at a False Positive rate of 5% what threshold should you use? (Use oversampled data)

In [18]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve

# predict the probabilities of the positive class for the test data
y_probas = log_reg.predict_proba(x_test)[:, 1]

# calculate the false positive rate and true positive rate
fpr, tpr, thresholds = roc_curve(y_test, y_probas)

# find the threshold that corresponds to a false positive rate of 5%
threshold = thresholds[np.argmin(np.abs(fpr - 0.05))]

# use this threshold to make predictions on the test data
y_pred = (y_probas > threshold).astype(int)

# create the confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)

# print the confusion matrix
print(conf_matrix)

[[105362   5598]
 [    89     95]]

In [19]:
print('We should use threshold of',threshold)

We should use threshold of 0.006374052088064181

# 7.) If the company makes .02*amt on True transactions and loses -amt on False (Use original data)

In [20]:
df_temp = df_select.copy()

In [21]:
df_temp["pred"] = log_reg.predict(x)
df_temp

,trans_date_trans_time,category,amt,zip,is_fraud,time_var,pred
0,2020-06-21 12:14:25,personal_care,2.86,29209,0,12,0
1,2020-06-21 12:14:33,personal_care,29.84,84002,0,12,0
2,2020-06-21 12:14:53,health_fitness,41.28,11710,0,12,0
3,2020-06-21 12:15:15,misc_pos,60.05,32780,0,12,0
4,2020-06-21 12:15:17,travel,3.19,49632,0,12,0
...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,health_fitness,43.77,63453,0,23,0
555715,2020-12-31 23:59:09,kids_pets,111.84,77566,0,23,0
555716,2020-12-31 23:59:15,kids_pets,86.88,99323,0,23,0
555717,2020-12-31 23:59:24,travel,7.99,83643,0,23,0
555718,2020-12-31 23:59:34,entertainment,38.13,73034,0,23,0

In [22]:
df_temp = df_temp[["pred", "is_fraud", "amt"]]

In [23]:
df_temp.head()

   pred  is_fraud    amt
0     0         0   2.86
1     0         0  29.84
2     0         0  41.28
3     0         0  60.05
4     0         0   3.19

In [24]:
def profit(df_temp):
  profit=0
  for i in range(len(df_temp)):
    if df_temp['pred'][i]==1 and df_temp['is_fraud'][i]==1:
      profit=profit+0.02*df_temp['amt'][i]
    elif df_temp['pred'][i]==0 and df_temp['is_fraud'][i]==1:
      profit=profit-df_temp['amt'][i]
    else:
      profit=profit
  return profit

In [25]:
print('The expected profit of the company is',profit(df_temp))

The expected profit of the company is -1133324.6800000002

# 8.) Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [26]:
# If most or all your variables go to 0 => Your data is garbage
# The regularization will tell us if our model has significance
# This of using coefficient strength similar to r^2

In [27]:
log_reg1=LogisticRegression(penalty='l1', solver='liblinear')

In [28]:
log_reg1fit=log_reg1.fit(x_train,y_train)

In [29]:
log_reg1fit.coef_

array([[ 2.25077780e-03, -1.85869886e-06,  1.21450749e-01,
        -2.66420664e+00, -2.80172521e+00, -7.97688956e-01,
        -9.36276417e-01,  2.50913421e-01, -2.86868171e+00,
        -3.09473306e+00, -2.93285111e+00, -1.97656214e-01,
        -1.99755618e+00, -2.58899197e+00, -7.65729648e-01,
        -2.00593712e+00, -6.71436856e+00]])

### Since not most of the coefficients are equal to 0, I will use the selected features in a trusted prediction model.